# Node
node_modules/
dist/
dist-ssr/
*.log

# Environment variables
.env
.env.local
.env.*.local
backend/.env
college/.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Os
.DS_Store
Thumbs.db
.env
